In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import subprocess
import os

In [16]:
path = "/home/miguel/my_project_python/my_project_env/tfm/datasets/criteo"
os.chdir(path)

In [17]:
# Load in our data
df = pd.read_csv('Criteo_GA.csv', sep = ";")

In [18]:
df.head(5)

,Conversiones,Valor de las conversiones,Path_1,Path_2,Path_3,Path_4,Path_5,Path_6,Path_7,Path_8,...,Path_65,Path_66,Path_67,Path_68,Path_69,Path_70,Path_71,Path_72,Path_73,Path_74
0,4657,"62.004,30 €",google / cpc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1500,"20.332,41 €",google / cpc,google / cpc,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1144,"26.590,61 €",google / organic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,904,"18.503,30 €",google / cpc,(direct) / (none),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,810,"23.361,69 €",(direct) / (none),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df.columns

Index(['Conversiones', 'Valor de las conversiones', 'Path_1', 'Path_2',
       'Path_3', 'Path_4', 'Path_5', 'Path_6', 'Path_7', 'Path_8', 'Path_9',
       'Path_10', 'Path_11', 'Path_12', 'Path_13', 'Path_14', 'Path_15',
       'Path_16', 'Path_17', 'Path_18', 'Path_19', 'Path_20', 'Path_21',
       'Path_22', 'Path_23', 'Path_24', 'Path_25', 'Path_26', 'Path_27',
       'Path_28', 'Path_29', 'Path_30', 'Path_31', 'Path_32', 'Path_33',
       'Path_34', 'Path_35', 'Path_36', 'Path_37', 'Path_38', 'Path_39',
       'Path_40', 'Path_41', 'Path_42', 'Path_43', 'Path_44', 'Path_45',
       'Path_46', 'Path_47', 'Path_48', 'Path_49', 'Path_50', 'Path_51',
       'Path_52', 'Path_53', 'Path_54', 'Path_55', 'Path_56', 'Path_57',
       'Path_58', 'Path_59', 'Path_60', 'Path_61', 'Path_62', 'Path_63',
       'Path_64', 'Path_65', 'Path_66', 'Path_67', 'Path_68', 'Path_69',
       'Path_70', 'Path_71', 'Path_72', 'Path_73', 'Path_74'],
      dtype='object')

In [21]:
columns_interest = ['Path_1', 'Path_2', 'Path_3', 'Path_4', 'Path_5', 
                    'Path_6', 'Path_7', 'Path_8', 'Path_9', 'Path_10', 
                    'Path_11', 'Path_12', 'Path_13', 'Path_14', 'Path_15', 
                    'Path_16', 'Path_17', 'Path_18', 'Path_19', 'Path_20', 
                    'Path_21', 'Path_22', 'Path_23', 'Path_24', 'Path_25', 
                    'Path_26', 'Path_27', 'Path_28', 'Path_29', 'Path_30', 
                    'Path_31', 'Path_32', 'Path_33', 'Path_34', 'Path_35', 
                    'Path_36', 'Path_37', 'Path_38', 'Path_39', 'Path_40', 
                    'Path_41', 'Path_42', 'Path_43', 'Path_44', 'Path_45', 
                    'Path_46', 'Path_47', 'Path_48', 'Path_49', 'Path_50', 
                    'Path_51', 'Path_52', 'Path_53', 'Path_54', 'Path_55', 
                    'Path_56', 'Path_57', 'Path_58', 'Path_59', 'Path_60', 
                    'Path_61', 'Path_62', 'Path_63', 'Path_64', 'Path_65', 
                    'Path_66', 'Path_67', 'Path_68', 'Path_69', 'Path_70', 
                    'Path_71', 'Path_72', 'Path_73', 'Path_74']
df = df[columns_interest]

In [22]:
# Grab list of columns to iterate through
cols = df.columns

In [23]:
# Iterate through columns to change all ints to str and remove any trailing '.0'
for col in cols:
    df[col] = df[col].astype(str)
    #df[col] = df[col].map(lambda x: str(x)[:-2] if '.' in x else str(x))
    
# NO HACE FALTA

In [24]:
# Create a total path variable
df['Path'] = ''
for i in df.index:
    #df.at[i, 'Path'] = 'Start'
    for x in cols:
        df.at[i, 'Path'] = df.at[i, 'Path'] + df.at[i, x] + ' > '

In [25]:
df.head(5)

,Path_1,Path_2,Path_3,Path_4,Path_5,Path_6,Path_7,Path_8,Path_9,Path_10,...,Path_66,Path_67,Path_68,Path_69,Path_70,Path_71,Path_72,Path_73,Path_74,Path
0,google / cpc,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,google / cpc > nan > nan > nan > nan > nan > n...
1,google / cpc,google / cpc,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,google / cpc > google / cpc > nan > nan > na...
2,google / organic,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,google / organic > nan > nan > nan > nan > nan...
3,google / cpc,(direct) / (none),nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,google / cpc > (direct) / (none) > nan > nan...
4,(direct) / (none),nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,(direct) / (none) > nan > nan > nan > nan > na...

In [26]:
df.shape

(1230, 75)